@{
    ViewData["Title"] = "View Model";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    

    <p>Here is a message</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit animi sed sapiente tempora iure, illo quo illum sint nulla suscipit recusandae eum aperiam? Deserunt similique incidunt quia adipisci quidem atque.</p>




    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
